<h1>Listing personals</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Photo</th>
      <th>Code person</th>
      <th>Slug</th>
      <th>Title</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @personals.each do |personal| %>
      <tr>
        <td><%= personal.first_name %></td>
        <td><%= personal.last_name %></td>
        <td><%= personal.photo %></td>
        <td><%= personal.code_person %></td>
        <td><%= personal.slug %></td>
        <td><%= personal.title %></td>
        <td><%= personal.user_id %></td>
        <td><%= link_to 'Show', personal %></td>
        <td><%= link_to 'Edit', edit_personal_path(personal) %></td>
        <td><%= link_to 'Destroy', personal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal', new_personal_path %>
